$primary-color: #fff;
$secondary-color: #6b717f;
$third-color: #8C8C8C;
$advantagesColor: #8C8C8C;

$success-background: green;
$error-background: red;
$warning-background: orange;

$general-padding: 16px;

